*{
    padding: 0;
    margin: 0;
}

main {
    position: relative;
    top: 130px;
    left: 585px;
    width: 425px;
}

.main-logo {
    padding: 22px 0;
}

input {
    width: 575px;
    height: 45px;
    position: relative;
    right: 150px;
    border:1px solid #dfdede;
    border-radius: 30px;
    margin: 0 0 30px 0;
}

.m-glass {
    z-index: 5;
    position: absolute;
    bottom: 107px;
    right: 540px;
}

.sbv {
    z-index: 5;
    position: absolute;
    bottom: 109px;
    left: 390px;
}

button {
    font-family: arial,sans-serif;
    padding: 10px 18px;
    margin: 0 0 30px 0;
    font-size: 14px;
    color: #5F6368;
    background-color: #f2f2f2;
    border: 10px;
    border-radius: 3px;
    position: relative;
    right: 10px;
}

.l-butt {
    margin: 0 8px 0 0;
}

footer{
    position: relative;
    top: 450px;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #5f6368;
    background-color: #f2f2f2;
}

li {
    display: inline-block;
    padding: 15px;
}

.foot-right {
    float: right;
    margin-right: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: #5f6368;
}
  
a:hover {
    text-decoration: underline;
}

.head-left, .head-button, .head-right {
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.head-right, .head-button {
    float: right;
}

.img-head {
    position: relative;
    top: 7px;
    margin-right: 30px;
    margin-left: 5px;
}

.head-button {
    padding: 8px 15px;
    margin-top: 10px;
    margin-right: 20px;
    color: #fff;
    background-color: rgb(39, 139, 233);
    font-weight: 700;
}
